// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-heading{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.right-corner{
    margin-top: 20px;
    position: relative;
    left: 90%;
    font-size: 20px;
}

.orange{
    color: orange;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.container-fluid{
    width: 90%;
    margin: auto;
    // display: flex;
    // justify-content: space-between;
    padding-left: 20px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
}

.table-responsive{
    max-height: 700px;
    box-shadow: rgba(0,0,0,0.25) 0px 25px 50px -12px;
    display: flex;
    justify-content: center;

}


.theading{
    background-color: black;
    color: white;
}



// tr:hover{
//     background-color: #ffa;
// }

td,th{
    position: relative;
}

.table td,
.table th{
    // padding: 0.75rem;
    padding: 15px 60px 12px;
    vertical-align: top;
    border-top: none;
}

td{
    color:black;
}

td:hover::after,
th:hover::after{
    content: '';
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    top: -5000px;
    height: 5000px;
    width: 100%;
    z-index: -1;
}

tbody{
    overflow-x: auto;
    overflow-y: auto;
}

.table tr td:hover:nth-child(4){
    background-color: rgba(231,83,115);
    color: aliceblue;
    border:0.5px solid rgba(12,12,12);
}

.table tr td:hover{
   background-color: rgba(117,223,122);
   color: aliceblue;
   border:0.5px solid rgba(12,12,12);
 }

 .thead-dark{
    font-weight: bold;
    text-transform: uppercase;
 }


 
@media only screen and (max-width: 1330px) {
    .container-fluid{
      width: 80%;
      display: flex;
      flex-direction: column;
    }

    .theading{
        display: block;
    }

    .table-responsive{
    //    width: 50%;
       display: flex;
       flex-direction: column;
    }
}








 //live button

 $bodyBgc: #0288D1;
$white: #fff;
$btnPaddingScalePlus: 1.2;
$btnPaddingScaleMinus: .95;

 .btn{
    display: block;
    font-weight: 700;
    position: relative;
    padding: 13px 25px;
    background-color: rgba($white,.9);
    text-decoration: none;
    color: #333;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 0px 2px 0px darken($bodyBgc,10%);
    transition: all .2s;
    z-index: 1;
    outline: none;
    width: 20%;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
   
  }
  


 span.live-icon{
    display: inline-block;
    position: relative;
    top: calc(50% - 5px);
    background-color: red;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    border: 1px solid rgba(black, .1);
    border-radius: 50%;
    z-index: 1;
    &:before{
      content: '';
      display: block;
      position: absolute;
      background-color: rgba(red,.6);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: live 2s ease-in-out infinite;
      z-index: -1;
    }
  }
@keyframes live {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(3.5,3.5);
    background-color: rgba(red,0);
  }
}

small{
  position: absolute;
  font-size: 0.9em;
  color: rgba(white, .5);
  bottom: 2rem;
  b{
  font-weight: bold;
  color: rgba(white,.8);
  z-index: -1;
  }
}

@media only screen and (max-width: 500px) {
  .toolbar {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
  .btn {
    width: 250px;
  }
  span.live-icon{
    position: absolute;
    right: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .btn{
    width: 100%;
  }
}